<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveGuitar()"
    >
     <fieldset *ngIf="guitar">
       <div class="form-group"
            [ngClass]="{'has-error': (guitarPriceVar.touched ||
                                      guitarPriceVar.dirty) &&
                                      !guitarPriceVar.valid}">
         <label class="col-md-2 control-label"
                for="guitarPriceId">Price</label>
         <div class="col-md-2">
           <input class="form-control"
                  id="guitarPriceId"
                  placeholder="Price (required)"
                  currencyMask
                  required
                  [(ngModel)]="guitar.price"
                  name="guitarPrice"
                  #guitarPriceVar="ngModel"
           >
           <span class="help-block" *ngIf="(guitarPriceVar.touched ||
                                            guitarPriceVar.dirty) &&
                                            guitarPriceVar.errors">
             <span *ngIf="guitarPriceVar.errors?.required">
               Price is required.
             </span>
           </span>
         </div>
       </div>
       <div class="form-group"
            [ngClass]="{'has-error': (guitarDescriptionVar.touched ||
                                      guitarDescriptionVar.dirty) &&
                                      guitarDescriptionVar.errors}"
       >
         <label class="col-md-2 control-label"
                for="guitarDescriptionId">Description</label>
         <div class="col-md-4">
           <textarea class="form-control"
                     id="guitarDescriptionId"
                     placeholder="Description (required)"
                     required
                     [(ngModel)]="guitar.description"
                     name="guitarDescription"
                     rows="3" cols="50"
                     maxlength="100"
                     #guitarDescriptionVar="ngModel"
           ></textarea>
           <span class="help-block" *ngIf="(guitarDescriptionVar.touched ||
                                            guitarDescriptionVar.dirty) &&
                                            guitarDescriptionVar.errors">
             <span *ngIf="guitarDescriptionVar.errors?.required">
               Description is required (max = 100 characters).
             </span>
           </span>
         </div>
       </div>
       <div class="form-group"
            [ngClass]="{'has-error': (guitarRatingVar.touched ||
                                      guitarRatingVar.dirty) &&
                                      guitarRatingVar.errors}"
       >
         <label class="col-md-2 control-label"
                for="guitarRatingId"
         >Rating</label>
         <div class="col-md-2">
           <input class="form-control"
                  id="guitarRatingId"
                  type="number"
                  required
                  min="0" max="5"
                  [gtrMinNumber]="minNum"
                  [gtrMaxNumber]="maxNum"
                  [(ngModel)]="guitar.rating"
                  name="guitarRating"
                  #guitarRatingVar="ngModel"
           />
           <span class="help-block" *ngIf="(guitarRatingVar.touched ||
                                            guitarRatingVar.dirty) &&
                                            guitarRatingVar.errors">
             <span *ngIf="guitarRatingVar.errors?.required">
               Rating is required.
             </span>
             <span *ngIf="guitarRatingVar.errors?.gtrMinNumber">
               Range is {{minNum}} to {{maxNum}}.
             </span>
             <span *ngIf="guitarRatingVar.errors?.gtrMaxNumber">
               Range is {{minNum}} to {{maxNum}}.
             </span>
           </span>
         </div>
       </div>

       <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

       <div class="form-group">
         <div class="col-md-4 col-md-offset-2">
           <span>
             <button class="btn btn-primary"
                     type="submit"
                     style="width: 80px;margin-right: 10px"
                     [title]="editForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                     [disabled]="!editForm.valid">Save</button>
           </span>
           <span>
             <a class="btn btn-default"
                style="width:80px;margin-right: 2px"
                (click)="cancel()"
                title="Cancel your edits"
             >
                Cancel
             </a>
           </span>
           <span>
             <a class="btn btn-default" style="width:80px"
                (click)="deleteGuitar()"
                title="Delete this guitar?"
             >
                Delete
             </a>
           </span>
         </div>
       </div>
     </fieldset>
    </form>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{errorMessage}}
  </div>
</div>
